<%- include("partials/head") %>
  <header>
    <h1>Group 09</h1>
    <h2>Checkpoint ONE: UI to Database Connection</h2>
  </header>
  <section class="form">
    <input type="text" id="todoInput" placeholder="Insert your task here..." required/>
  </section>
  <ul class="list">
  </ul>
<%- include("partials/footer") %>
