<%- include("partials/head") %>
<%- include("partials/navbar") %>
  <div class="container">
    <!-- Group number and project title -->
    <div class="jumbotron text-center my-5">
      <h1 class="display-4">Group 09</h1>
      <p class="lead">COVID-19 impact trends across the US and comparison with rest of the world</p>
    </div>
    <div class="row justify-content-md-center mt-4">
      <div class="col-4">
        <div class="card">
          <img class="card-img-top" src="/images/positivity-rate.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Positivity Rate</h5>
            <p class="card-text">Variation of rate of positive Covid cases based on number of Covid tests done in the US and other countries.</p>
            <a href="/positivity-rate" class="btn btn-outline-dark">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img class="card-img-top" src="/images/community-transmission.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Community Transmission</h5>
            <p class="card-text">Rate of transmission of Covid within a community across all states in the US.</p>
            <a href="/community-transmission" class="btn btn-outline-dark">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img class="card-img-top" src="/images/death-rate.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mortality Rate</h5>
            <p class="card-text">Insights on number of deaths per positive Covid case across all the states in the US and other countries.</p>
            <a href="mortality-rate" class="btn btn-outline-dark">Click Here</a>
          </div>
        </div>
      </div>
    </div>
    <!-- 2nd row -->
    <div class="row justify-content-md-center mt-4">
      <div class="col-4">
        <div class="card">
          <img class="card-img-top" src="/images/hospitalization.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Hospitalization</h5>
            <p class="card-text">Comparing Covid ICU bed occupany and the death rate across all the states in the US.</p>
            <a href="/hospitalization" class="btn btn-outline-dark">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img class="card-img-top" src="/images/vaccination.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Vaccination</h5>
            <p class="card-text">Showing the number of people vaccinated with only first dose or fully vaccinated people across US and other countries.</p>
            <a href="/vaccination" class="btn btn-outline-dark">Click Here</a>
          </div>
        </div>
      </div>
    </div>
    <!-- 3rd row  -->
    <div class="row my-5">
      <div class="text-center"> 
        <button id="num-rows" type="button" class="btn btn-outline-dark">Number of Rows</button>
      </div>
    </div>
  </div>
<script src='/javascripts/index.js'></script>
<%- include("partials/footer") %>
