<%- include("partials/head") %>
<%- include("partials/navbar") %>
  <header class="text-center">
    <h1>Group 09</h1>
    <h2>COVID-19 impact across the US and trend comparison with rest of the world.</h2>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Positivity Rate</h5>
            <p class="card-text">Variation of rate of positive Covid cases based on number of Covid tests done in the US and other countries.</p>
            <a href="/positivity-world" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Death Rate</h5>
            <p class="card-text">Insights on number of deaths per positive Covid case across all the states in the US and other countries.</p>
            <a href="mortality-rate" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Community Transmission</h5>
            <p class="card-text">Rate of transmission of Covid within a community across all states in the US.</p>
            <a href="/community-transmission" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <!-- 2nd row -->
    <div class="row justify-content-md-center">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Vaccination</h5>
            <p class="card-text">Showing the number of people vaccinated with only first dose or fully vaccinated people across US and other countries.</p>
            <a href="/vaccination" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Hospitalization</h5>
            <p class="card-text">Comparing Covid ICU bed occupany and the death rate across all the states in the US.</p>
            <a href="/hospitalization" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <!-- 3rd row  -->
    <div class="row justify-content-md-center">
      <div class="col-3">
        <button id="num-rows" type="button" class="btn btn-primary btn-lg ">Number of Rows</button>
      </div>
    </div>
  </div>
<script src='/javascripts/index.js'></script>
<%- include("partials/footer") %>
