<%- include("partials/head") %>
<%- include("partials/navbar") %>
<div class="container">
  <!-- Option to choose between US and world -->
  <button type="button" id="toggleus" class="btn btn-primary">United States</button>
  <button type="button" id="toggleworld" class="btn btn-primary">World</button>

  <div id="us-vaccination">
    <form>
      <div class="row">
        <!-- State dropdown -->
        <div class="col-md-4">
          <label class="form-label" for="us-states">Select state(s)</label>
          <select id="us-states" class="form-control selectpicker" multiple>
            <!-- Fill the options using values stored in db -->
          </select>
        </div>
        <!-- From date -->
        <div class="col-md-4">
          <label class="form-label" for="us-from-date">From date</label>
          <div class="input-group date" data-provide="datepicker" data-date-format="dd-M-yyyy">
            <input class="form-control" id="us-from-date" name="from-date" placeholder="dd-M-yyyy" value="01-Jan-2020" type="text"/>  
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </div>
        <!-- To date -->
        <div class="col-md-4">
          <label class="form-label" for="us-to-date">To date</label>
          <div class="input-group date" data-provide="datepicker" data-date-format="dd-M-yyyy">
            <input class="form-control" id="us-to-date" name="to-date" placeholder="dd-M-yyyy" value="01-Jan-2022" type="text"/>  
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Submit button -->
      <div class="row justify-content-md-center">
        <div class="col-md-3">
          <button class="btn btn-primary" name="submit" type="submit">Submit</button>
        </div>
      </div>
    </form>
    <div id="us-vaccination-trend"></div>
  </div>

  <!-- vaccination-world -->
  <div id="world-vaccination" style="display:none">
    <form>
      <div class="row">
        <!-- State dropdown -->
        <div class="col-md-4">
          <label class="form-label" for="world-countries">Select country(s)</label>
          <select id="world-countries" class="form-control selectpicker" multiple>
            <!-- Fill the options using values stored in db -->
          </select>
        </div>
        <!-- From date -->
        <div class="col-md-4">
          <label class="form-label" for="world-from-date">From date</label>
          <div class="input-group date" data-provide="datepicker" data-date-format="dd-M-yyyy">
            <input class="form-control" id="world-from-date" name="from-date" placeholder="dd-M-yyyy" value="01-Jan-2020" type="text"/>  
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </div>
        <!-- To date -->
        <div class="col-md-4">
          <label class="form-label" for="world-to-date">To date</label>
          <div class="input-group date" data-provide="datepicker" data-date-format="dd-M-yyyy">
            <input class="form-control" id="world-to-date" name="to-date" placeholder="dd-M-yyyy" value="01-Jan-2022" type="text"/>  
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Submit button -->
      <div class="row justify-content-md-center">
        <div class="col-md-3">
          <button class="btn btn-primary" name="submit" type="submit">Submit</button>
        </div>
      </div>
    </form>
    <div id="world-vaccination-trend"></div>
  </div>
</div>


<!-- JavaScript -->
<script src='/javascripts/vaccination.js'></script>
<%- include("partials/footer") %>